:root {
  --color-grey-5: #828282;
  --color-grey-12: #cccccc;
  --color-white: #ffffff;
  --color-transparent: transparent;
  --full-size: 100%;
}
input[type="file"] {
  display: none;
}
img {
  width: var(--full-size);
}
.hidden {
  display: none !important;
}
.loading-status {
  opacity: 0.3;
}
.container {
  margin-top: 20px;
}
.loading-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}
.loading-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--color-grey-5);
  border-color: var(--color-grey-5) var(--color-transparent) var(--color-grey-5)
    var(--color-transparent);
  animation: lds-dual-ring 1.2s linear infinite;
}
.card {
  width: var(--full-size);
}
.notification {
  color: var(--color-white);
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}
.tabs {
  margin-bottom: 0 !important;
}
.url {
  width: var(--full-size);
  display: flex;
}
.input-url {
  width: var(--full-size);
}
#result {
  padding: 15px 15px 15px 25px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-grey-12);
}
#result li {
  list-style-type: auto;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
